<div class="row">
  <div class="col-md-6">
    <div class="p-3">
      <div class="max-input-width">
        <h1>CSV Extractor</h1>
        <p>
          This is a tool that will take a list of keys and values separated by
          line breaks.
        </p>
        <p>
          After pasting the list, it will format the result to contain comma
          delimited values
          <a
            href="https://www.itsupportguides.com/knowledge-base/office-2013/excel-2013-how-to-paste-comma-separated-values/"
          >
            which can be pasted into Excel
          </a>
          .
        </p>
        <div class="card p-3 my-3 max-input-width">
          <h3>
            Example
            <small>(paste into textarea)</small>
          </h3>
          <pre class="bg-light p-3">
  Date:
     04/08/2022
  Name:
     Eric</pre
          >
        </div>
        <h3>
          Example Result:
          <small>04/08/2022, Eric</small>
        </h3>
      </div>
      <textarea
        [(ngModel)]="unformattedText"
        name="unformatted-text"
        rows="4"
        cols="50"
        class="max-input-width"
        placeholder="Paste list of keys and values separated by line breaks here"
        (ngModelChange)="buildCSV($event)"
      ></textarea>
      <ng-container *ngIf="data.length">
        <div class="max-input-width bg-info p-3">
          <h3>Result</h3>
          <pre class="white-space-normal">
            {{ data }}
          </pre>
        </div>
      </ng-container>
    </div>
  </div>
</div>
